<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Подключаем FontAwesome для иконок -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2><i class="fas fa-store"></i> OneShop</h2>
        <ul>
            <li><a href="/"><i class="fas fa-shopping-cart orders-icon"></i> Список всех товаров</a></li>
            <li><a href="/add_product"><i class="fas fa-plus orders-icon"></i> Добавить товар</a></li>>
            <li><a href="/orders"><i class="fas fa-boxes orders-icon"></i> Заказы</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h1>Заказы</h1>
        <p>Здесь будут отображаться заказы.</p>
    </div>
</body>
</html>
